* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.tracker_name {
  margin-left: 80px;
}
.tracker-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.balance {
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.sbmt {
  padding: 10px;
  background-color: #20573f;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.list {
  list-style: none;
  padding: 0;
}
.list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: white;
  margin-bottom: 5px;
  border-radius: 5px;
}
