* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header_box {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #20573f;
}
.header_buttons {
  width: 25%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header_but {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.header_names {
  text-decoration: none;
  color: white;
  display: flex;
  font-size: 45px;
}
.header_image {
  width: 110px;
  height: 90px;
  border-radius: 30px;
  margin-right: 10px;
}
.header_name {
  font-size: 50px;
  margin-top: 20px;
}
